<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"><title>Journeys list</title></head>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"></nav>
<div class="container">
    <h2 th:text="#{journey.list}"></h2>
    <p th:text="#{vehicle.selection.journey}"></p>
    <div class="col-sm-10">
        <select id="plateNumber" class="form-control" name="plateNumber">
            <option th:each="plate : ${plateList}"
                    th:value="${plate}"
                    th:text="${plate}"
                    th:selected="${plate == selectedPlate}">
            </option>
        </select>
    </div>
    <script th:inline="javascript">
        function loadJourneysForPlate(numberPlate, page = 0) {
            window.location.href = `/journey/list/vehicle?plateNumber=${numberPlate}&page=${page}`;
        }

        document.getElementById('plateNumber').addEventListener('change', function() {
            loadJourneysForPlate(this.value);
        });
    </script>
    <div class="table-responsive">
        <table class="table table-hover" th:fragment="journeysTable" id="journeysTable">
            <thead>
            <tr>
                <th scope="col" th:text="#{journeys.start.date}"></th>
                <th scope="col" th:text="#{journeys.employee}"></th>
                <th scope="col" th:text="#{journeys.length}"></th>
                <th scope="col" th:text="#{journeys.odometerResult}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="journey : ${journeysList}">
                <td th:text="${#temporals.format(journey.startDate,'dd-MM-yyyy HH:mm:ss')}"></td>
                <td th:text="${journey.employee.name}"></td>
                <td th:text="${journey.duration}"></td>
                <td th:text="${journey.odometerEnd - journey.odometerStart > 0 ? journey.odometerEnd - journey.odometerStart : 0}"></td>
                <td>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:if="${journey.endDate != null}"
                       th:href="${'/journey/edit/' + journey.id}" th:text="#{modify.button}"></a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="fragments/vehiclepagination"></footer>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>