<!DOCTYPE html>
<html lang="es">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>
<div class="container" id="main-container">
    <h2 th:text="#{journey.edit.title}"></h2>
    <form class="form-horizontal" method="post" th:action="${'/journey/edit/' + journey.id}" th:object="${journey}">
        <div class="form-group">
            <label class="control-label col-sm-2" for="startDate" th:text="#{journey.edit.startDate}">:</label>
            <div class="col-sm-10">
                <input type="datetime-local" class="form-control" id="startDate" name="startDate"
                       th:value="${#temporals.format(journey.startDate, 'yyyy-MM-dd''T''HH:mm')}" required="true"/>
                <span class="text-danger" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="endDate" th:text="#{journey.edit.endDate}">:</label>
            <div class="col-sm-10">
                <input type="datetime-local" class="form-control" id="endDate" name="endDate"
                       th:value="${#temporals.format(journey.endDate, 'yyyy-MM-dd''T''HH:mm')}" required="true"/>
                <span class="text-danger" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="odometerStart" th:text="#{journey.edit.odometerStart}">:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="odometerStart" name="odometerStart"
                       value="0" required="true"/>
                <span class="text-danger" th:if="${#fields.hasErrors('odometerStart')}" th:errors="*{odometerStart}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="odometerEnd" th:text="#{journey.edit.odometerEnd}">:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="odometerEnd" name="odometerEnd"
                       value="0" required="true"/>
                <span class="text-danger" th:if="${#fields.hasErrors('odometerEnd')}" th:errors="*{odometerEnd}"></span>
            </div>
        </div>
        <input type="hidden" th:value="${journey.id}" name="id" />
        <input type="hidden" th:if="${journey.vehicle != null}" th:value="${journey.vehicle.numberPlate}" name="vehicle.numberPlate" />
        <input type="hidden" th:if="${journey.employee != null}" th:value="${journey.employee.dni}" name="employee.dni" />
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" th:text="#{employees.edit.submit}"></button>
            </div>
        </div>
    </form>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>