<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>
<div class="container">
    <h2>Vehículos</h2>
    <p>Los usuarios que actualmente figuran en el sistema son los
        siguientes:</p>
    <button type="button" id="updateButton" class="btn btn-primary">Actualizar</button>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var numberPage = /*[[${param.page}]]*/ null;
        $(document).ready(function() {
            $("#updateButton").click(function() {
                let urlUpdate = '/journey/list/update';
                if (numberPage != null) {
                    urlUpdate += "?page=" + numberPage;
                }
                $("#journeyTable").load(urlUpdate);
            });
        });
        /*]]>*/
    </script>
    <div class="table-responsive">
        <table class="table table-hover" th:fragment="journeyTable" id="journeyTable">
            <thead>
            <tr>
                <th scope="col">Matrícula</th>
                <th scope="col">Número de bastidor</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Combustible</th>
                <th scope="col">Kilometraje</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="journey : ${journeysList}">
                <td th:text="${journey.numberPlate}">1234BCD</td>
                <td th:text="${journey.vin}">Número bastidor</td>
                <td th:text="${journey.brand}">Marca</td>
                <td th:text="${journey.model}">Modelo</td>
                <td th:text="${journey.fuel}">Combustible</td>
                <td th:text="${journey.mileage}">100 km</td>
                <td th:text="${journey.status}">LIBRE</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(journeysList)}"> No journeys </div>
    <footer th:replace="fragments/pagination"></footer>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>