<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"><title>Journeys list</title></head>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"></nav>
<div class="container">
    <h2 th:text="#{journey.list}"></h2>

    <div class="table-responsive">
        <table class="table table-hover" th:fragment="journeysTable" id="journeysTable">
            <thead>
            <tr>
                <th scope="col" th:text="#{journeys.start.date}"></th>
                <th scope="col" th:text="#{journeys.employee}"></th>
                <th scope="col" th:text="#{journeys.length}"></th>
                <th scope="col" th:text="#{journeys.odometerResult}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="journey : ${journeysList}">
                <td th:text="${journey.startDate}"></td>
                <td th:text="${journey.employee.name}"></td>
                <td th:text="${journey.duration}"></td>
                <td th:text="${journey.odometerEnd != 0 ? journey.odometerEnd - journey.odometerStart : 0}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="fragments/pagination"></footer>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>