<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"><title>Notaneitor</title></head>
<body>

<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"></nav>
<div class="container" id="main-container">
    <h2>Editar profesor</h2>
    <form class="form-horizontal" method="post" th:action="${'/professor/edit/' + professor.id}">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Nombre:</label>
            <div class="col-sm-10">
                <input th:value="${professor.name}" id="name" type="text" class="form-control" name="name"
                       placeholder="Pablo" required="true"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="surname">Apellido:</label>
            <div class="col-sm-10">
                <input input th:value="${professor.surname}" id="surname" type="text" class="form-control" name="surname"
                       placeholder="Perez"
                       required="true"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="category">Categoria:</label>
            <div class="col-sm-10">
                <input input th:value="${professor.category}" id="category" type="text" class="form-control" name="category"
                       placeholder="Catedratico"
                       required="true"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="DNI">DNI:</label>
            <div class="col-sm-10">
                <input input th:value="${professor.DNI}" id="DNI" type="text" class="form-control" name="DNI"
                       placeholder="123A"
                       required="true"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Modificar</button>
            </div>
        </div>
    </form>
</div>

<footer th:replace="fragments/footer"></footer>
</body>
</html>
