<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>
<div class="container">
    <h2>Usuarios</h2>
    <p th:if="${generatedPassword}">La contraseña del nuevo empleado es: <b th:text="${generatedPassword}"></b></p>
    <p>Los usuarios que actualmente figuran en el sistema son los
        siguientes:</p>
    <div class="table-responsive">
        <table class="table table-hover" th:fragment="employeeTable" id="employeeTable">
            <thead>
            <tr>
                <th scope="col">DNI</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employeesList}">
                <td th:text="${employee.dni}">71888888X</td>
                <td th:text="${employee.name}">Nombre del alumno</td>
                <td th:text="${employee.lastName}">Apellidos del alumno</td>
                <td><a th:href="${'/employee/details/' + employee.id}">detalles</a></td>
                <td><a th:href="${'/employee/edit/' + employee.id}">modificar</a></td>
                <td><a th:href="${'/employee/delete/' + employee.id}">eliminar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>