<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"><title>Refuels list</title></head>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"></nav>
<div class="container">
  <h2 th:text="#{refuels.list}"></h2>
  <p th:text="#{vehicle.selection.refuel}"></p>
  <div class="col-sm-10">
    <select id="plateNumber" class="form-control" name="plateNumber">
      <option th:each="plate : ${plateList}"
              th:value="${plate}"
              th:text="${plate}"
              th:selected="${plate == selectedPlate}">
      </option>
    </select>
  </div>
  <script th:inline="javascript">
    function loadRefuelsForPlate(numberPlate, page = 0) {
      window.location.href = `/refuel/list?plateNumber=${numberPlate}&page=${page}`;
    }

    document.getElementById('plateNumber').addEventListener('change', function() {
      loadRefuelsForPlate(this.value);
    });

  </script>
  <div class="table-responsive">
    <table class="table table-hover" th:fragment="refuelsTable" id="refuelsTable">
      <thead>
      <tr>
        <th scope="col" th:text="#{refuels.date}"></th>
        <th scope="col" th:text="#{refuels.hour}"></th>
        <th scope="col" th:text="#{refuels.odometer}"></th>
        <th scope="col" th:text="#{refuels.fuel}"></th>
        <th scope="col" th:text="#{refuels.station}"></th>
        <th scope="col" th:text="#{refuels.fuel.price}"></th>
        <th scope="col" th:text="#{refuels.fuel.quantity}"></th>
        <th scope="col" th:text="#{refuels.fuel.total.price}"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="refuel : ${refuelsList}">
        <td th:text="${refuel.dayMonthYear}"></td>
        <td th:text="${refuel.hoursMinutes}"></td>
        <td th:text="${refuel.odometer}"></td>
        <td th:text="${refuel.vehicle.fuel}"></td>
        <td th:text="${refuel.station}"></td>
        <td th:text="${refuel.price}"></td>
        <td th:text="${refuel.amount}"></td>
        <td th:text="${#numbers.formatDecimal(refuel.totalPrice, 1, 2)}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <footer th:replace="fragments/vehiclepagination"></footer>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>