<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"></nav>

<div class="container" id="main-container">
    <h2 th:text="#{user.details}"></h2>
    <div class="card">
        <div class="card-header" th:text="#{dni.form}"></div>
        <div class="card-body">
            <p class="card-text" th:text="${employee.dni}">88888847X</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header" th:text="#{name.form}"></div>
        <div class="card-body">
            <p class="card-text" th:text="${employee.name}">Pablo</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header" th:text="#{lastName.form}"></div>
        <div class="card-body">
            <p class="card-text" th:text="${employee.lastName}">Perez</p>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
