<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
</head>
<body>
<div class="container" id="main-container">
    <h2>Editar Usuario</h2>
    <form class="form-horizontal" method="post" th:action="${'/employee/edit/' + employee.id}">
        <div class="form-group">
            <label class="control-label col-sm-2" for="dni">DNI:</label>
            <div class="col-sm-10">
                <input th:value="${employee.dni}" id="dni" type="text" class="form-control" name="dni"
                       placeholder="123A" required="true"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Nombre:</label>
            <div class="col-sm-10">
                <input th:value="${employee.name}" id="name" type="text" class="form-control" name="name"
                       placeholder="Pablo" required="true"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="lastName">Apellido:</label>
            <div class="col-sm-10">
                <input th:value="${employee.lastName}" id="lastName" type="text" class="form-control" name="lastName"
                       placeholder="Perez" required="true"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="role">Rol:</label>
            <div class="col-sm-10">
                <select name="role" id="role" class="form-control" th:value="${employee.role}">
                    <option value="empleado" th:selected="${employee.role == 'empleado'}">Empleado</option>
                    <option value="administrador" th:selected="${employee.role == 'administrador'}">Administrador</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Modificar</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
