<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.springframework.org/schema/security">
<head th:replace="fragments/head"/>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>
<div class="container">
    <p th:if="${generatedPassword}" th:text="#{generated.password}"><b th:text="${generatedPassword}"></b></p>
    <h2 th:text="#{employees.title}"></h2>
    <p th:text = "#{employees.subtext}"></p>
    <button type="button" id="updateButton" class="btn btn-primary" th:text="#{update.message}"></button>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let numberPage = /*[[${param.page}]]*/ null;
        $(document).ready(function() {
            $("#updateButton").click(function() {
                let urlUpdate = '/employee/list/update';
                if (numberPage != null) {
                    urlUpdate += "?page=" + numberPage;
                }
                $("#vehicleTable").load(urlUpdate);
            });
        });
        /*]]>*/
    </script>
    <div class="table-responsive">
        <table class="table table-hover" th:fragment="employeeTable" id="employeeTable">
            <thead>
            <tr>
                <th scope="col" th:text="#{dni.form}"></th>
                <th scope="col"th:text="#{name.form}"></th>
                <th scope="col" th:text="#{lastName.form}"></th>
                <th scope="col"th:text="#{role.form}"> </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employeesList}">
                <td th:text="${employee.dni}"></td>
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.role}"></td>
                <td><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${'/employee/edit/' + employee.id}" th:text="#{modify.button}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(employeesList)}" th:text="${employee.empty}" >  </div>
    <footer th:replace="fragments/pagination"></footer>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>
